<h2 class="mt-4">Editar Caracteristica</h2>
<h3 class="mt-4">Caracteristica</h3>

<form [formGroup]="form">
  <input formControlName="categoryName" placeholder="Nome da Caracteristica">
  <div class="button-container mt-4">
    <button (click)="onSave()" class="button-save" mat-raised-button color="primary">
      <span>Salvar</span>
    </button>
    <button (click)="onDelete()" class="button-cancelar" mat-raised-button color="primary">
      <span>Excluir</span>
    </button>
  </div>
</form>
