<ul class="menu-sidebar">
  <ng-container *ngFor="let item of itens">
    <div class="submenu-sidebar">
      <a
        class="align-icon-title align-items-center teste1"
        [routerLink]="item.route"
        routerLinkActive="active"
        style="text-decoration:none"
      >
        <span class="text-center d-inline-block my-0 mr-2 icon-container">
          <i class="align-middle fs-22" [ngClass]="item.icon"></i>
        </span>
        <span class="">{{ item.label }}</span>
      </a>
    </div>
  </ng-container>
</ul>
