$icomoon-font-family: "taesa-icon" !default;
$icomoon-font-path: "fonts" !default;

$ta-user-group: "\e900";
$ta-competition: "\e919";
$ta-folder-open: "\e91b";
$ta-triangle: "\e921";
$ta-update: "\e90b";
$ta-doc-update: "\e90f";
$ta-docs: "\e906";
$ta-doc-report: "\e996";
$ta-status: "\e997";
$ta-gota: "\e999";
$ta-star: "\e99a";
$ta-heart: "\e99b";
$ta-excel: "\e99c";
$ta-doc: "\e99d";
$ta-word: "\e99e";
$ta-menu: "\e99f";
$ta-lamp: "\e9a0";
$ta-power-plug: "\e9a2";
$ta-square-transparent: "\e9b4";
$ta-square-dark: "\e9b5";
$ta-square-minus: "\e9ab";
$ta-square-menu: "\e9ae";
$ta-lt: "\e9b3";
$ta-br: "\e9b2";
$ta-bc: "\e9b1";
$ta-se: "\e9b0";
$ta-square-phone: "\e9af";
$ta-phone: "\e94c";
$ta-minus-circle: "\e9aa";
$ta-checkbox-checked: "\e922";
$ta-square-closer: "\e9ac";
$ta-times: "\e981";
$ta-times-circle: "\e983";
$ta-info-circle-dark: "\e9ad";
$ta-info-circle: "\e953";
$ta-exclamation: "\e913";
$ta-exclamation-circle: "\e957";
$ta-interrogation-balloon: "\e917";
$ta-interrogation-circle: "\e958";
$ta-alert: "\e903";
$ta-security-check: "\e95d";
$ta-check: "\e92f";
$ta-check-circle: "\e901";
$ta-arrow-down-circle: "\e939";
$ta-arrow-up-circle: "\e941";
$ta-arrow-right-circle: "\e93b";
$ta-arrow-left-circle: "\e93a";
$ta-arrow-down: "\e317";
$ta-arrow-left: "\e318";
$ta-arrow-right: "\e319";
$ta-arrow-up: "\e31a";
$ta-plus-circle: "\e933";
$ta-minus-circle1: "\e15d";
$ta-power: "\e8ac";
$ta-exit-door: "\e94a";
$ta-gateway: "\e949";
$ta-logout: "\e985";
$ta-login: "\e988";
$ta-man-arrows: "\e905";
$ta-hourglass: "\e907";
$ta-trash: "\e91f";
$ta-blocked: "\e920";
$ta-box: "\e908";
$ta-atom: "\e909";
$ta-chart: "\e902";
$ta-chat: "\e90a";
$ta-checkbox-unchecked: "\e923";
$ta-radio-checked: "\e937";
$ta-radio-unchecked: "\e938";
$ta-confused: "\e943";
$ta-download: "\e945";
$ta-companies: "\e90c";
$ta-envelope: "\e90d";
$ta-eye: "\e910";
$ta-user-o: "\e966";
$ta-account: "\e932";
$ta-badge: "\e990";
$ta-lamp1: "\e912";
$ta-towers: "\e911";
$ta-tower: "\e91d";
$ta-test-tube: "\e91e";
$ta-download-arrow: "\e986";
$ta-upload: "\e964";
$ta-attachment: "\e931";
$ta-robot: "\e929";
$ta-expand: "\e924";
$ta-folder-closer: "\e96e";
$ta-folders: "\e928";
$ta-gallery: "\e927";
$ta-spanner: "\e973";
$ta-spanner-arrow: "\e904";
$ta-spanners: "\e980";
$ta-gear: "\e93f";
$ta-gears: "\e975";
$ta-gear-spanner: "\e92c";
$ta-form-edit: "\e914";
$ta-form: "\e91c";
$ta-form-location: "\e926";
$ta-table: "\e970";
$ta-calendar: "\e97c";
$ta-checklist: "\e97e";
$ta-edit: "\e9a5";
$ta-doc-empty: "\e94b";
$ta-doc-filled: "\e918";
$ta-docs-filled: "\e92a";
$ta-docs-chart: "\e96d";
$ta-doc-money: "\e92d";
$ta-doc-checked: "\e92e";
$ta-pdf: "\e982";
$ta-log: "\e916";
$ta-like: "\e930";
$ta-dislike: "\e9a4";
$ta-recharge: "\e936";
$ta-spinner: "\e959";
$ta-three-points: "\e984";
$ta-printer: "\e940";
$ta-facebook: "\e93d";
$ta-instagram: "\e942";
$ta-camera: "\e976";
$ta-photographic: "\e93e";
$ta-link-external: "\e944";
$ta-save: "\e91a";
$ta-pencil: "\e92b";
$ta-weight: "\e947";
$ta-location: "\e948";
$ta-lock: "\e915";
$ta-eye-blocked: "\e98a";
$ta-sound: "\e951";
$ta-zoom-in: "\e954";
$ta-zoom-out: "\e955";
$ta-serach-actions: "\e9a8";
$ta-search: "\e8b6";
$ta-cloud: "\e98d";
$ta-headset: "\e9a7";
$ta-monitor: "\e95a";
$ta-notebook: "\e95b";
$ta-rede: "\e95c";
$ta-site: "\e95e";
$ta-smartphone: "\e95f";
$ta-wifi: "\e960";
$ta-calculator: "\e963";
$ta-calendar1: "\e98f";
$ta-newspaper: "\e992";
$ta-chart-pizza: "\e991";
$ta-megaphone: "\e96a";
$ta-organograma: "\e96b";
$ta-etapas: "\e90e";
$ta-play: "\e96f";
$ta-panel-solar: "\e995";
$ta-drums: "\e971";
$ta-raio: "\e994";
$ta-cataventos: "\e979";
$ta-fire: "\e974";
$ta-helmet: "\e9a9";
$ta-balance: "\e962";
$ta-gavel: "\e969";
$ta-plant: "\e977";
$ta-hand-plant: "\e97b";
$ta-medidor: "\e978";
$ta-reciclagem: "\e97a";
$ta-spark: "\e97d";
