<div class="header-container">
  <h2>Dashboard de Animais</h2>
  <div class="view-buttons">
      <button class="custom-button" (click)="showMap(1)">Mostrar Mapa</button>
      <button class="custom-button" (click)="showMap(2)">Mostrar Gráfico de Barra</button>
      <button class="custom-button" (click)="showMap(3)">Mostrar Gráfico de Rosca</button>
  </div>
</div>

<form [formGroup]="form">
  <div class="dashboard-container">
    <div class="content">
      <div class="filters">
        <div class="filter-group">
          <label>Tipo de Animal</label>
          <div class="select-container">
            <select formControlName="animalType">
              <option value="" >Selecione um tipo de animal</option>
              <option *ngFor="let type of animalTypes" [value]="type.id">{{ type.name }}</option>
            </select>
            <!-- <i id="arrow-down" class="ta-arrow-down"></i> -->
          </div>
        </div>
        <div class="filter-group">
          <label>Raça</label>
          <div class="select-container">
            <select formControlName="breed">
              <option value="" >Selecione uma Raça</option>
              <option *ngFor="let breed of breeds" [value]="breed.id">{{ breed.name }}</option>
            </select>
            <!-- <i id="arrow-down" class="ta-arrow-down"></i> -->
          </div>
        </div>

        <div class="filter-group">
          <label>Característica</label>
          <div class="select-container">
            <select formControlName="characteristics">
              <option value="" >Selecione uma Característica</option>
              <option *ngFor="let characteristic of characteristics" [value]="characteristic.id">{{ characteristic.name
                }}</option>
            </select>
            <!-- <i id="arrow-down" class="ta-arrow-down"></i> -->
          </div>
        </div>

        <div class="filter-group">
          <label>Porte</label>
          <div class="select-container">
            <select formControlName="size">
              <option value="" >Selecione um Porte</option>
              <option *ngFor="let size of sizes" [value]="size.id">{{ size.name }}</option>
            </select>
            <!-- <i id="arrow-down" class="ta-arrow-down"></i> -->
          </div>
        </div>

        <div class="filter-group">
          <label>Status</label>
          <div class="select-container">
            <select formControlName="status">
              <option value="" >Selecione um Status</option>
              <option value="adopted">Adotado</option>
              <option value="available">Disponível</option>
            </select>
            <!-- <i id="arrow-down" class="ta-arrow-down"></i> -->
          </div>
        </div>

        <div class="filter-group dual-input-group">
          <div class="age-group">
            <label>Idade mínima</label>
            <input type="number" formControlName="minAge" placeholder="Idade mínima">
          </div>
          <div class="age-group">
            <label>Idade máxima</label>
            <input type="number" formControlName="maxAge" placeholder="Idade máxima">
          </div>
        </div>
        <div class="filter-group dual-input-group">
          <div class="date-group">
            <label>Data de início</label>
            <input type="date" formControlName="startDate">
          </div>
          <div class="date-group">
            <label>Data de término</label>
            <input type="date" formControlName="endDate">
          </div>
        </div>
        <div class="filter-group" *ngIf="ActiveMap != 1">
          <label>Estado</label>
          <div class="select-container">
            <select formControlName="state">
              <option value="" >Selecione um Estado</option>
              <option *ngFor="let state of states" [value]="state">{{ state }}</option>
            </select>
          </div>
        </div>
        <button mat-raised-button color="primary" class="filtro mt-3" (click)="onSubmit()">
          <i class="ta-times-circle fs-18"></i>
          <span>Filtrar</span>
        </button>
      </div>
      <div class="main-content">
        <div class="date-range ml-2 mt-2">
          <div class="inputs-container">
          </div>
          <!-- Botão -->
          <button class="custom-button" (click)="downloadExcel()">
            <i class="ta-times-circle fs-18"></i>
            <span>Baixar Excel</span>
          </button>
        </div>
        <app-brasil-map *ngIf="ActiveMap == 1" [petsList]="pets" [listFiltros]="listFiltros"></app-brasil-map>
        <!-- grafico de barras -->
        <div class="rosca" *ngIf="ActiveMap == 2">
          <div style="display: block;" [hidden]="ActiveMap != 2">
            <div id="barchartdiv" style="width: 1100px; height: 600px;" *ngIf="ActiveMap == 2"></div>
          </div>
        </div>
        <div class="rosca" *ngIf="ActiveMap == 3">
          <div style="display: block;" [hidden]="ActiveMap != 3">
            <div id="chartdiv" style="width: 800px; height: 600px;" *ngIf="ActiveMap == 3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
