h2 {
  color: var(--Cinza-escuro, #545454);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 600;

}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .content {
    display: flex;
    width: 100%;
    border: 2px solid #d0d7dd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 20px;

    .filters {
      width: 25%;
      padding-right: 30px;
      border-right: 2px solid #d0d7dd;
      display: flex;
      flex-direction: column;

      .filter-group {

        label {
            display: block;
            margin-top: 5%;
        }

        select, .select-container {
            width: 100%;
        }

        .select-container {
            position: relative;

            #arrow-down {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 24px;
            }
        }
      }

      .dual-input-group {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .age-group, .date-group {
            flex: 1;

            label {
                display: block;
                margin-bottom: 5px;
            }

            input {
                width: 100%;
            }
        }
      }
    }

    .main-content {
      width: 75%;
      border-right: 2px solid #d0d7dd;
      padding-right: 20px;
    }
  }
}

input, select {
  color: #5d5d5d;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  height: 46px;
  border: 1px solid #d0d7dd;
  padding-left: 15px;
}

.date-range {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.custom-button {
  background-color: transparent;
  border: 1px solid #545454;
  color: #545454;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
  border-radius: 7px;

  &:hover {
    background-color: rgba(84, 84, 84, 0.1);
  }

  i {
    margin-right: 5px;
  }
}

.inputs-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filtro {
  width: 100%;
  height: 48px;
  background-color: #ff8a00;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 12.282px;
  font-weight: 700;
  border-radius: 0.25rem;
  border: none;
}

button, .actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #d0d7dd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  margin: 0px;
}

.view-buttons {
  display: flex;
  gap: 10px;
}
.rosca{
  display: flex;
  justify-content: center;
  align-items: center;
}
