<div class="dashboard-container">
  <h1 class="ml-21 mr-21">Somos a My Pet</h1>
  <div class="image-container mb-3 mt-3">
    <img src="../../../../assets/images/dashboard2.jpg" style="width: 90%; " alt="My Pet" class="dashboard-image">
  </div>
  <div class="content-container">
    <p class="ml-21 mr-21" style="text-align: justify; font-size: 16pt;">A My Pet é uma empresa dedicada à adoção de animais com um forte compromisso altruísta. Seu objetivo principal é proporcionar lares amorosos e permanentes para animais desabrigados, promovendo uma cultura de cuidado e responsabilidade animal. A empresa trabalha em parceria com abrigos e resgatadores, oferecendo um processo de adoção transparente e acessível. Além disso, a My Pet investe em programas de conscientização e educação, visando criar uma sociedade mais compassiva em relação aos animais e promovendo o bem-estar de todos os seres vivos.
    </p>

  </div>
  <h2 class="ml-21 mr-21 mb-4">Modo de uso</h2>
  <mat-accordion class="accordion  " multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Análise Empresarial
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="content">
        <h2>Mapa Interativo:</h2>
        <p>Central para a nossa análise é um mapa dinâmico do Brasil, destacando cada estado com informações atualizadas sobre adoções de animais. Os usuários podem filtrar a visualização por:</p>
        <ul>
          <li><strong>Tipo de Animal:</strong> Selecione para visualizar a distribuição de diferentes tipos de animais, como cães, gatos, entre outros.</li>
          <li><strong>Raça:</strong> Refine os dados para mostrar adoções por raça específica.</li>
          <li><strong>Característica:</strong> Filtrar animais por características distintas, como temperamento, se são calmos ou agressivos, etc.</li>
          <li><strong>Porte:</strong> Veja as adoções baseadas no porte do animal.</li>
          <li><strong>Status:</strong> Acompanhe o status atual dos animais, se estão adotados, em abrigos ou disponíveis para adoção.</li>
          <li><strong>Idade:</strong> Defina um intervalo de idade para análise, desde filhotes até mais velhos.</li>
          <li><strong>Período:</strong> Especifique datas de início e término para entender as tendências ao longo do tempo.</li>
        </ul>

        <h2>Análise Profunda:</h2>
        <p>Ao clicar em um estado, você pode descer ao nível de cidades, observando números mais específicos e detalhados. Use essa função para planejar campanhas de adoção focadas e eficazes.</p>

        <h2>Gráficos de Análise:</h2>
        <p>Acompanhe também gráficos de barra e rosca que oferecem insights valiosos sobre a demografia de adoções, ajudando a identificar padrões e oportunidades para futuras ações de conscientização e adoção.</p>

        <h2>Filtros Avançados:</h2>
        <p>Utilize os filtros avançados para segmentar os dados conforme necessário e direcione seus esforços onde eles são mais necessários.</p>

        <h2>Exportação de Dados:</h2>
        <p>Com a funcionalidade de exportação, você pode gerar relatórios em Excel dos dados filtrados atualmente exibidos nos gráficos. Personalize relatórios, acompanhe o histórico de adoções e compartilhe facilmente os dados com sua equipe.</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Painel Administrativo
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="content">
        <h2>Configuração de Campos para Cadastro:</h2>
        <p>Como administrador, você é responsável por configurar os campos de seleção que os usuários utilizarão no aplicativo móvel ao cadastrar um novo pet para adoção. Certifique-se de criar categorias claras e concisas para facilitar o processo de cadastro:</p>
        <ul>
          <li><strong>Características:</strong> Defina as opções de temperamento e outras características importantes para descrever os animais, como 'calmo', 'ativo', 'amigável' e 'necessita de treinamento'.</li>
          <li><strong>Tipos de Animais:</strong> Crie uma lista de tipos de animais disponíveis, como 'cão', 'gato', 'coelho', etc.</li>
          <li><strong>Raças:</strong> Mantenha uma lista abrangente de raças para cada tipo de animal, permitindo que os usuários encontrem e selecionem a raça correspondente do pet.</li>
          <li><strong>Porte:</strong> Forneça opções de porte do animal, como 'pequeno', 'médio' e 'grande', para que os usuários saibam o que esperar em termos de tamanho.</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <!-- Outros painéis conforme necessário -->
  </mat-accordion>
</div>
