<div class="forgot-container">
  <div class="forgot-box">

    <!-- Step 1 -->
    <div *ngIf="step === 1">
      <div class="steps">
        <span class="active-step"></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <h2 class="mb-4">Digite o Email associado a sua conta</h2>
      <input type="email" [(ngModel)]="email" placeholder="Digite seu email">
      <button (click)="nextStep()">Próximo</button>
    </div>

    <!-- Step 2 -->
    <div *ngIf="step === 2">
      <div class="steps">
        <span></span>
        <span class="active-step"></span>
        <span></span>
      </div>
      <h2>Um código foi enviado para o número</h2>
      <span>+55 {{ phone }}</span>
      <input class="mt-4" type="text" [(ngModel)]="code" placeholder="Digite o código recebido">
      <button (click)="validateCode()">Próximo</button>
    </div>

    <div *ngIf="step === 3">
      <div class="steps">
        <span></span>
        <span></span>
        <span class="active-step"></span>
        <span></span>
        <span></span>
      </div>
      <h2 class="mb-4">Redefinir senha</h2>
      <label for="password">Senha:</label>
      <input type="password" [(ngModel)]="newPassword" placeholder="Senha">
      <label for="confirmPassword">Repita a Senha:</label>
      <input type="password" [(ngModel)]="confirmPassword" placeholder="Repetir senha">
      <button (click)="resetPassword()">Concluir</button>
    </div>

    <!-- Step 4 -->
    <div *ngIf="step === 4">
      <div class="steps">
        <span></span>
        <span></span>
        <span></span>
        <span class="active-step"></span>
      </div>
      <h2 class="fs-26">Senha redefinida com sucesso!</h2>
      <button class="btn-return-login" (click)="goToLogin()">Fazer login</button>
    </div>

  </div>
</div>
